version: '3.4'

services:
  db:
    image: mysql:8.0.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: my_secret_pw_shh
      MYSQL_DATABASE: test_db
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
      PHP_MEMORY_LIMIT: 2024M
      PHP_MAX_EXECUTION_TIME: 0
      PHP_MAX_INPUT_VARS: 20000
    volumes:
      - ./data/mysql:/var/lib/mysql
    ports:
      - '9906:3306'

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db

  web_8_2:
    build:
      context: .
      target: php_8_2
    container_name: php_8_2
    depends_on:
      - db
    volumes:
      - ./php/:/var/www/html/
    ports:
      - '5666:80'
    links:
      - db:mysql
    stdin_open: true
    tty: true

web_8_1:
    build:
      context: .
      target: php_8_1
    container_name: php_8_1
    depends_on:
      - db
    volumes:
      - ./php/:/var/www/html/
    ports:
      - '5666:80'
    links:
      - db:mysql
    stdin_open: true
    tty: true
